{{- $act := . | lower -}}
{{- $id := "" -}}
{{- if or (eq $act "pilze") (eq $act "wandern") (eq $act "velo") (eq $act "wasser") (eq $act "stadt") (eq $act "zen") (eq $act "reise") (eq $act "social") (eq $act "zelten") (eq $act "sac") -}}
  {{- $id = $act -}}
{{- else if eq $act "fahrrad" -}}
  {{- $id = "velo" -}}
{{- else if eq $act "gruppe" -}}
  {{- $id = "social" -}}
{{- end -}}
{{- if $id -}}
<svg class="tag-icon" aria-hidden="true"><use href="/icons/tags-sprite.svg#{{ $id }}"></use></svg>
{{- else if eq $act "auszeit" -}}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
  <rect x="6"  y="0"  width="4" height="2" fill="currentColor"/>
  <rect x="2"  y="2"  width="2" height="2" fill="currentColor"/>
  <rect x="12" y="2"  width="2" height="2" fill="currentColor"/>
  <rect x="4"  y="4"  width="8" height="2" fill="currentColor"/>
  <rect x="0"  y="6"  width="16" height="4" fill="currentColor"/>
  <rect x="4"  y="10" width="8" height="2" fill="currentColor"/>
  <rect x="2"  y="12" width="2" height="2" fill="currentColor"/>
  <rect x="12" y="12" width="2" height="2" fill="currentColor"/>
  <rect x="6"  y="14" width="4" height="2" fill="currentColor"/>
</svg>
{{- else if eq $act "kanu" -}}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
  <rect x="6"  y="0"  width="4"  height="2" fill="currentColor"/>
  <rect x="4"  y="2"  width="8"  height="2" fill="currentColor"/>
  <rect x="0"  y="4"  width="16" height="2" fill="currentColor"/>
  <rect x="2"  y="6"  width="12" height="4" fill="currentColor"/>
  <rect x="4"  y="10" width="8"  height="2" fill="currentColor"/>
  <rect x="6"  y="12" width="4"  height="2" fill="currentColor"/>
</svg>
{{- else -}}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true">
  <rect x="6" y="0"  width="4"  height="2" fill="currentColor"/>
  <rect x="4" y="2"  width="8"  height="2" fill="currentColor"/>
  <rect x="2" y="4"  width="12" height="4" fill="currentColor"/>
  <rect x="6" y="8"  width="4"  height="6" fill="currentColor"/>
  <rect x="4" y="14" width="8"  height="2" fill="currentColor"/>
</svg>
{{- end -}}
